<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card text-white mb-3 @CardType" style="max-width: 20rem;">

        <div class="card-header">@IsOwner</div>
        <div class="card-body">
            <h4 class="card-title">@Guild.Name</h4>
            <p class="card-text">@Guild.Description</p>
            <a class="float-lg-right" href="/dash/menu?guild=@Guild.Id">
                <span class="btn @ButtonType btn-lg">Launch</span>
            </a>
        </div>
    </div>
</div>

@code 
{
    public string IsOwner { get; set; }

    [Parameter]
    public DiscordGuild Guild { get; set; }
    [Parameter]
    public string CardType { get; set; }
    [Parameter]
    public string ButtonType { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        try
        {
            IsOwner = Guild.IsOwner ? "Owner" : "Member";
        }
        catch
        {
            IsOwner = "Member";
        }
    }
}