@inherits LayoutComponentBase
@inject NavigationManager _nav

@using CloudNine.Web.User
@inject LoginService _login

@using Microsoft.Extensions.Logging
@inject ILogger<Startup> _logger

<head>
    <style>
        .sidebar {
            margin: 0;
            padding: 0;
            width: 200px;
            background-color: #f1f1f1;
            position: fixed;
            height: 100%;
            overflow: auto;
        }
    </style>
</head>
@if (connected)
{
<div class="page">
    <div class="main">
        <div class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Cloud Nine Bot</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarMain">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/dash">
                                Dashboard
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <a href="/login?start=true">
                    <buttom class="btn-primary btn" type="submit">Login</buttom>
                </a>
            </div>
        </div>
        <div>
        @if (_nav.ToBaseRelativePath(_nav.Uri).StartsWith("dash"))
        {
            if (_login.LoggedIn)
            {
            <!-- Dash only menu goes here -->
            <nav class="sidebar">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="/dash">Dashboard</a>
                    </li>
                    <li>
                        <Dropdown TItem="int">
                            <InitialTip>Select Server</InitialTip>
                            <ChildContent>
                                @*<DropdownListItem Item="1">Guild</DropdownListItem>*@
                            </ChildContent>
                        </Dropdown>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dash/quotes">Quotes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dash/mod">Moderation</a>
                    </li>
                </ul>
            </nav>
            }
        }

            <div class="content px-4">
                <div class="container">
                    @Body
                </div>
            </div>
        </div>
    </div>
</div>
}
else
{
    <h3>Loading, Please Wait...</h3>
}

@code {
    private bool connected;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            // Attempt to see if the user is already logged in.
            await AttemptReLogin();
            connected = true;
            StateHasChanged();
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task AttemptReLogin()
    {

    }
}