<tr style="width:auto">
    <th scope="row">@Warnings.Key</th>
    <td style="width:20%">Total Warnings: @Warnings.Value.Count</td>
    <td style="width:100%" align="right">
        <button @onclick="ToggleDetails" class="btn btn-outline-warning">
            Details
        </button>
    </td>
</tr>
<tr class="@DetailsCssClass" id="@Warnings.Key-details">
    <td width="100%" colspan="3">
        <table class="table table-warning">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scpoe="col" style="width:100%">Warnings</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var warn in Warnings.Value)
                {
                    <ModWarnPart Time="warn.Key" Warning="warn.Value" />
                }
            </tbody>
        </table>
    </td>
</tr>

@code {
    [Parameter]
    public KeyValuePair<ulong, SortedDictionary<DateTime, Warn>> Warnings { get; set; }

    private bool collapsed = true;

    private string DetailsCssClass => collapsed ? "collapse" : "";

    private void ToggleDetails()
        => collapsed = !collapsed;
}
