@page "/"


<div class="alert alert-info">
    <h2>
        <strong>All of you are amazing!</strong> Just thought I should let you know. Thanks to everyone for making it a really great year for me
        (even those of you I haven't interaccted with much). Have a great rest of 2020!
    </h2>
</div>

<h1>Hello, world!</h1>