@page "/login"
@model CloudNine.Web.Pages.LoginModel

@if (Model.IsConnected)
{
    // Login with discord button that triggers the discord login.
    <h3>How's life? (display login button here)</h3>
}
else
{
    <h3>Loading...</h3>
}
