@page "/loginold"
@inject NavigationManager _nav
@inject LoginService _login
@inject HttpClient _client
@inject StateManager _state
@inject ProtectedLocalStorage _localStorage

@if (isConnected)
{
    // Login with discord button that triggers the discord login.
    <h3>How's life?</h3>
}
else
{
    <h3>Loading...</h3>
}

@code {
    private bool isConnected;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            isConnected = true;
            StateHasChanged();
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    
}
